<ion-view view-title="InvenManage">
    <ion-content>
      <div class="title-bar" id="message-card">Message
        <span class="back-button" ng-click="back()">
          <i class="fas fa-chevron-left"></i> Back</span>
      </div>
      <div class="button-group">
  
        <div class="row">
          <div class="col employeeOnlyFunction">
            <button class="button button-energized centered" style="width: 90%;">
              Find User
            </button>
          </div>
          <div class="col">
            <button class="button button-energized centered" style="width: 90%;">
              Delete User
            </button>
          </div>
        </div>
  
        <div class="list-area centered">
          <div class="row" style="font-weight:bold; background: #ff9900; color: white">
            <div class='col'>User Id</div>
            <div class='col'>Name</div>
            <div class='col'>Role</div>
            <div class='col'></div>
          </div>
          <div class="row inventory-item" ng-repeat="user in userList">
            <div class="row">
              <div class='col'>{{user.userId}}</div>
              <div class='col'>{{user.username}}</div>
              <div class='col'>{{user.role}}</div>
              <div class='col'>
                <button class="button button-outline button-energized tight-line-button" ng-click="showUserPopup(user)">
                  Detail
                </button>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="bar bar-footer user-info-footer">
        <div class="row">
          <div class='col-75'>
            <b>Welcome ! </b>{{testUser.username}} (Manager)</div>
          <div class='col'>
            <button class="button button-dark tight-line-button float-right-button" ng-click="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
  
    </ion-content>
  </ion-view>