<ion-view view-title="InvenManage" hide-nav-bar='true'>
  <ion-content>
    <div class="title-bar" id="inventory-management-card">Inventory Management
      <span class="back-button" ng-click="back()">
        <i class="fas fa-chevron-left"></i> Back</span>
    </div>
    <div class="button-group">
      <div class="row employeeOnlyFunction">
        <div class="col">
          <button class="button button-calm centered" style="width: 90%;" ng-click="showCreateInventoryPopup()">
            Create Inventory
          </button>
        </div>
        <div class="col">
          <button class="button button-calm centered" style="width: 90%;" ng-click="showDeleteInventoryPopup()">
            Delete Inventory
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="button button-calm centered" style="width: 90%;" ng-click='findInventoryById()'>
            Find (QR code)
          </button>
        </div>
        <div class="col">
          <button class="button button-calm centered" style="width: 90%;" ng-click="findInventoryByName()">
            Find (Name)
          </button>
        </div>
      </div>

      <div class="list-area centered">
        <div class="row" style="font-weight:bold; background: #1176f3; color: white">
          <div class='col'>Inventory</div>
          <div class='col'>Status</div>
          <div class='col'>Location</div>
          <div class='col'>
            <button class="button button-outline button-light tight-line-button"
            ng-click="resetFilter()" ng-show='inventoryList != showInventoryList'>
            Reset
          </button>
        </div>
          <!-- <div class='col'></div> -->
        </div>
        <div class="scroll-area">
          <div class="row inventory-item" ng-repeat="inventory in showInventoryList track by $index">
            <div class="row">
              <div class='col'>{{inventory.iName}}</div>
              <div class='col'>{{inventory.status}}</div>
              <div class='col'>{{inventory.location}}</div>
              <div class='col'>
                <button class="button button-outline button-positive tight-line-button"
                  ng-click="showInventoryPopup(inventory)">
                  Detail
                </button>
              </div>
              <!-- <div class='col'>
              <button class="button button-outline button-positive tight-line-button">
                Delete
              </button>
            </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="bar bar-footer user-info-footer">
      <div class="row">
        <div class='col-75'>
          <b>Welcome ! </b>{{currentUser.username}} ({{currentUser.role}})</div>
        <div class='col'>
          <button class="button button-dark tight-line-button float-right-button" ng-click="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>

    <script id="inventoryModal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title" style='background:#886aea; color: white; margin: 0;'>Order History</h1>
        </ion-header-bar>
        <ion-content>
            <div class="row">
              <div class="col" style="font-weight:bold">ItemId </div> 
              <div class="col">{{inventory.itemId}}</div>
            </div> 
            <div class="row">
              <div class="col" style="font-weight:bold">ProductId</div>
              <div class="col">{{inventory.productId}}</div>
            </div> <div class="row">
              <div class="col" style="font-weight:bold"> Check-in time </div> 
              <div class="col">{{inventory.checkInTime}}</div>
            </div>
            <div class="row">
              <div class="col" style="font-weight:bold">Distance </div>
              <div class="col">{{inventory.distance}}</div>
            </div>
        </ion-content>
      </ion-modal-view>
    </script>
    

  </ion-content>
</ion-view>