<ion-view view-title="InvenManage" hide-nav-bar='true'>
  <ion-content  scroll='false'>
    <div class="title-bar" id="user-manage-card">Users Management
      <span class="back-button" ng-click="back()">
        <i class="fas fa-chevron-left"></i> Back</span>
    </div>
    <div class="button-group">

      <div class="row">
        <div class="col employeeOnlyFunction">
          <button class="button button-assertive centered" style="width: 90%;" ng-click="findUser()">
            Find User
          </button>
        </div>
        <div class="col">
          <button class="button button-assertive centered" style="width: 90%;" ng-click="createUser()">
            Create User
          </button>
        </div>
      </div>

      <div class="list-area centered">

        <div class="row" style="font-weight:bold; background: #ef473a; color: white">
          <!-- <div class='col'>User Id</div> -->
          <div class='col'>Name</div>
          <div class='col'>Role</div>
          <div class='col'>
            <button class="button button-outline button-light tight-line-button" ng-click="resetFilter()"
              ng-show='userList != showUserList'>
              Reset
            </button>
          </div>
        </div>
        <ion-scroll>
          <div class="row inventory-item" ng-repeat="user in showUserList track by $index">
            <div class="row">
              <!-- <div class='col'>{{user.userId}}</div> -->
              <div class='col'>{{user.username}}</div>
              <div class='col'>{{user.role}}</div>
              <div class='col'>
                <button class="button button-outline button-assertive tight-line-button" ng-click="showUserPopup(user)">
                  Detail
                </button>
              </div>
            </div>
          </div>
      </div>
      </ion-scroll>
    </div>

    <div class="bar bar-footer user-info-footer">
      <div class="row">
        <div class='col-75'>
          <b>Welcome ! </b>{{currentUser.username}} ({{currentUser.role}})</div>
        <div class='col'>
          <button class="button button-dark tight-line-button float-right-button" ng-click="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>

    <script id="editUserModal.html" type="text/ng-template">
      <ion-modal-view style="min-height: 87%;">
          <ion-header-bar>
            <h1 class="title" style='background:#387ef5; color: white; margin: 0; padding-left: 3%'>Edit User</h1>
          </ion-header-bar>
          <ion-content style='top: 8% !important;'>
            <ion-scroll>
                <div class="list">
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="editUserform.username" placeholder="5 characters or more">
                        </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">New Password</span>
                        <input type="password" ng-model="editUserform.newPassword" placeholder="5 characters or more">
                        </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Re-enter new password</span>
                        <input type="password" ng-model="editUserform.rePassword" placeholder="">
                        </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="editUserform.email" placeholder="Email address">
                        </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Phone</span>
                        <input type="number" ng-model="editUserform.phone" placeholder="Phone number">
                        </label>
                        <label class="item item-input item-select">
                        <div class="input-label">
                        Role
                        </div>
                        <select ng-model="editUserform.role">
                        <option ng-value="Admin">Admin</option>
                        <option ng-value="Employee">Employee</option>
                        <option ng-value="Customer">Customer</option>
                        </select>
                        </label>
                        </div>
                        <button class="button button-positive" style='display: block;float: right;margin: 3%;' ng-click="submitUserEdit()">Submit</button>
                        <button class="button button-positive" style='display: block;float: right;margin: 3%;' ng-click="deleteUserAlert(editUserform.userId)">Delete</button>
                        <button class="button button-stable" style='display: block;float: right;margin: 3%;' ng-click="closeEditUserModalModal()">Cancel</button>
                      </ion-scroll>  
          </ion-content>
        </ion-modal-view>
    </script>

  </ion-content>
</ion-view>