<ion-view view-title="InvenManage">
  <ion-content>

    <div class="title-bar">Menu </div>
    <div class="card function-card" id="inventory-management-card" ng-click="functinoCardClick($event)">
      Inventory Management
    </div>
    <div class="card function-card" id="inventory-management-card">
      Inventory Management
    </div>
    <div class="card function-card" id="inventory-management-card">
      Inventory Management
    </div>
    <div class="card function-card" id="inventory-management-card">
      Inventory Management
    </div>
    
  </ion-content>
</ion-view>