<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Login Tab -->
  <ion-tab id="login" title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab id="order" title="Order" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/order">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>

  <ion-tab id="userManage" title="User Management" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/userManage">
    <ion-nav-view name="tab-userManage"></ion-nav-view>
  </ion-tab>

  <!-- Register Tab -->
  <ion-tab title="Register" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/register">
    <ion-nav-view name="tab-register"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Menu Tab -->
  <ion-tab title="Menu" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="inventoryManage" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/inventoryManage">
    <ion-nav-view name="tab-inventoryManage"></ion-nav-view>
  </ion-tab>


</ion-tabs>
